@import "tailwindcss";

@layer base {
  body {
    font-family: var(--font-Satoshi), sans-serif;
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-IntegralCF), sans-serif;
    font-weight: 700;
  }

  h1 {
    @apply text-[36px]/[34px] md:text-[64px]/[64px];
  }

  h2 {
    @apply text-[32px] md:text-[48px];
  }

  h3 {
    @apply text-[40px] md:text-[48px];
  }
}

@layer components {
  .container {
    @apply 2xl:max-w-[1240px] xl:max-w-[1240px];
  }
}

.logo {
  font-family: var(--font-IntegralCF), sans-serif;
  text-box-trim: trim-end;
  @apply text-[25px]/[25px] md:text-[32px]/[32px] font-bold;
}
